.TodoList {
    width: 380px;
    left: 0;
  }
  
  .TodoList__item {
    display: flex;
    width: 380px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    left: 0;
  }
  
  .TodoList__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .List {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }